body
{
	margin: 0px; padding: 0px;
	font-family: "Segoe UI", verdana, sans-serif;
}

img
{
	border: none;
}

br
{
	clear: both;
}

em
{
	font-style: normal;
	background: #ffa;
}

#header
{
	margin-left: 30px;
	margin-right: 30px;
	display: block;
	background-color: #a3caff;

	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
}

#header p
{
	font-style: italic;
	padding: 5px;
	margin: 0px;
	color: #db2633;
}

#header ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	right: 70px;
	display: block;
	padding-top: 2px;
}

#header li
{
	display: inline;
}

#header a:link,
#header a:visited,
#header a:hover
{
	display: block;
	float: left;
	padding: 4px 5px 5px 5px;
	text-decoration: none;
	color: #db2633;
	margin-left: 4px;
	border: 1px solid #a3caff;
}

#header a:hover
{
/*	color: #fff;
	background: #80bedd;
	text-decoration: none;*/
	border: 1px solid #fff;
}

#slideshow
{
padding: 15px;
padding-left: 20px;
xwidth: 300px;
xfloat: right:
xalign: right;
xdisplay: block;
}

#slideshow p
{
margin: 0;
padding: 0;
}

#slideshow img
{
padding-top: 10px;
border: 1px solid #ccc;
filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75;
margin: 2px;
}

#slideshow img.trans25
{
opacity:.45;
filter: alpha(opacity=45);
-moz-opacity: 0.45;
border:1px solid #888;
}

#slideshow img.trans100
{
opacity:.95;
filter: alpha(opacity=95);
 -moz-opacity: 0.95;
 border:1px solid #666;
 }

#content
{
  float:left;
  width: 50%;
  margin-left: 35px;
  margin-right:0px;
  margin-top: 15px;
  padding-bottom: 0px;
  line-height: 150%;
}

#content p
{
padding: 0;
margin: 0;
margin-top: 10px;
}

#maincontent
{
  float:left;
  width: 70%;
  margin-left: 30px;
  margin-right:0px;
  margin-top: 15px;
  padding-bottom: 10px;
  line-height: 150%;
}

#maincontent p
{
  padding: 0;
  margin: 0;
  margin-top: 10px;
  padding-left: 30px;
}

#maincontent h2, h3
{
  padding-left: 0px;
}

#maincontent ul
{
  padding-left: 60px;
}

#maincontent tt
{
  background: #f0f0f0;
}


#sidebar
{
  float: right;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 33%;
  text-align: center;
  margin-left: 5px;
  margin-right: 1px;
  line-height: 150%;
}

#box, #box:hover
{
  width: 90%;
  background-color: #eee;
  padding: 10px;
  margin: 0px;
  text-align: left;
  color: #777;
  border: 1px solid #ccc;
  background-image: url(grey.png);
  background-repeat: no-repeat;
}

#box:hover
{
  xbackground-color: #ddd;
  color: #222;
  border: 1px solid #888;
}

#box ul
{
  margin-left: 5px;
  padding-left: 15px;
  list-style: none;
}

#box ul li:before {
	content: "\00BB \0020";
	}

#xbox ul li
{
  padding-left: 15px;
  list-style: none;
}

h1 {
	font-size:150%;
	}

h2 {
	font-size:120%;
	}

h3 {
	font-size:100%;
	}

#footer
{
  margin-top: 6px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 0;
  text-align: center;
}

#footer p {
  padding-top: 0;
  color: #888;
  margin-left: 30px;
  font-size: small;
  line-height: 150%;
}

pre
{
  line-height: 100%;
  margin: 5px;
  margin-left: 20px;
}

#footer a {
	color: #888;
}

#navi
{
float: top;
position: absolute;
top: 40px;
left: 30px;
}

#download
{
float: top;
position: absolute;
top: 45px;
right: 250px;
display: block;
background-color: #fdbb24;
padding: 0px;
text-align: center;
color: #fff;
width: 280px;
font-weight: bold;
}

#arrow
{
float: top;
position: absolute;
top: 45px;
right: 540px;
}

.indented
{
display: block;
margin-left: 27px;
margin-bottom: 10px;
}
